*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
header{
	border:2px solid grey;
	box-shadow: 2px 2px 2px 2px grey;
	width: 100%;
	transition: 0.5s ease all;
}
header nav{
	display: flex;
	justify-content: space-between;
}
.toggle{
	display: none;
	cursor: pointer;
}
.toggle i{
	color: darkblue;
	font-size: 40px;
	border:1px solid grey;
	background-color: lightgrey;
	
}
.logo img{
	width: 100px;
}
.list{
	padding: 1.6rem;
}
.list .parent{
	list-style: none;
	display: flex;
}
.list .parent li{
	width: 150px;
	text-align: center;
}
.list .parent li .child li{
	display: none;
}
.list .parent  li{
	text-decoration: none;
	color: darkblue;
	font-weight: bold;
}
.list i{
	color: black;
}
.list .parent li:hover .child li{
	display: block;
}
.list .parent li:hover{
	border-bottom: 4px solid darkblue;
	transition: 0.5s ease all;
}
.list .child li{
	background-color: white;
}
.cart-icon{
	float: right;
}
.cart-icon i{
	color: darkblue;
	font-size: 30px;
	z-index: 100;
}
#banner{
	background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.5)),url(../image/18.jpg);
	background-size: cover;
	height: inherit;
	width: 100%;
	background-position: center;
	align-content: center;
}
#banner h2{
	text-align: center;
	color: white;
	padding-top: 200px;
	font-family: berlin sans fb;
	font-size: 70px;
	text-decoration-color: currentColor;
}
#banner input{
	color: red;
	font-size: 30px;
	font-weight: bolder;
	width: 200px;
	font-family:berlin sans fb;
}
#banner input:hover{
	background-color: darkblue;
}
.s{
	color: darkblue;
}
.m{
	color:red;
}
#team{
	margin-top: 20px;
}
#team p{
	color: darkblue;
	font-size: 20px;
	font-weight: bold;
}
#team img{
	width: 200px;
	border-radius: 100px;
	height: 200px;
}
footer{
	background-color: darkgrey;
	margin-top: 20px;
}
footer p{
	color: darkblue;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}
footer a i{
	color: darkblue;
	font-size: 30px;
}
.proceed i{
	font-size: 50px;
	color: darkblue;
}
.proceed img{
	width: 200px;
	height: 200px;
}
.proceed .shp{
	float: right;
	z-index: 100;
	position: relative;
}
.shp span{
	color: red;
	font-size: 50px;
}
.proceed h1{
	color: darkblue;
	font-style: italic;
	font-weight: bold;
}

@media(max-width: 990px){
	body{
		overflow-x: hidden;
	}
	.toggle{
		display: block;
		position: absolute;
		left: 80%;
		top: 3%;
		z-index: 20;
	}
	.toggle i{
		display: block;
		position: absolute;
		left: 80%;
		top: 3%;
		z-index: 20;
	}
	.parent{
		flex-direction: column;
		position: absolute;
		top: -150%;
		left: 0%;
		background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.5)), lightgrey;
		width: 100%;
		z-index: 99;
		transition: 0.5s ease all;

	}
	.display{
		top: 15%;
	}
	.list{
		z-index: 90;
	}
	.list .parent li{
		text-align: center;
		line-height: 70px;
		width: 100%;
	}
	.cart-icon{
		position: absolute;
		z-index: 100;
	}
}